<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>
<body>
    <h2>Quiz: el juego de las preguntas!!!</h2>
    <form method="get" action="/quizes/answer">
        <%= respuesta %>
        <p>
            <a href="/quizes/question">Inténtelo otra vez </a>
        </p>
    </form>
</body>
</html>
